Strings are sequence of Characters
In Python specifically, strings are a sequence of Unicode Characters

* Creating Strings
* Accessing Strings
* Adding Chars to Strings
* Editing Strings
* Dleting Strings
* Operarions on Strings
* String Functions

## Creating Strings

In [2]:
s = 'hello'
s = "hello"
s = '''hello'''  #use for multi line string
s = """hello"""
s = str('hello')
print(s)

hello

In [3]:
# let's understand why need "" and '', 


# 'it's raining outside'

"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [16]:
# Indexing
# ---> Positive Indexing
s = 'hello world'
# s[0]='l' #TypeError: 'str' object does not support item assignment
# s[20]     #IndexError: string index out of range
s[0]

'h'

In [18]:
# ---> Negative Indexing
s = 'hello world'
print(s[-1])
print(s[-5])

d
w

### Slicing

In [39]:
s = 'hello world'
print(s[0:5])
print(s[2:3])
print(s[:5])
print(s[2:])
print(s[:])
print(s[0:6:2]) # with step 
print(s[0:6:3]) # taking jump of 3
print(s[6:0:-1]) # with reverse order
print(s[-1::-1])
print(s[::-1]) # code for reverse the string

hello
l
hello
llo world
hello world
hlo
hl
w olle
dlrow olleh
dlrow olleh

In [40]:
print(s[::-1]) # code for reverse the string

dlrow olleh

In [49]:
# Negative Indexing  (When using negative indexing 1st number should be greater than the second number)
print(s[:-5])
print(s[-1:-6:-1])

hello
dlrow

## Editing and Deleting in Strings (python string are immutable)
cannot change

In [50]:
s = 'hello world'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [54]:
# To delete the string
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

### Operations on Strings

* Arithmetic Operations
* Relational Operations
* Logical Operations
* Loops on Strings
* Membership Operations

### Arithmetic 
* Addition
* Multiplication

In [57]:
# Adding
print('delhi'+' '+'mumbai')

delhi mumbai

In [59]:
# Mulitplication
print(5*'Pune ')

Pune Pune Pune Pune Pune

### Relation Operation (all work)

In [60]:
'pune' == 'pune'

True

In [63]:
'delhi' != 'delhi'

False

In [61]:
# compare on basis of ASCII value 
'pune' > 'mumbai'

True

In [62]:
'mumbai' > 'pune'

False

In [64]:
'Pune'>'pune'

False

In [65]:
'hello' and 'world'

'world'

In [66]:
'hello' or 'world'

'hello'

In [68]:
  # in string ' ' (empty string is false) string with letter is true.
'' and 'world'

''

In [69]:
'' or 'world'

'world'

In [70]:
not ''

True

In [71]:
not 'hello'

False

### Loops

In [78]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [76]:
for i in 'hello':
    if i == 'l':
        i='v'
    print(i,end='')

hevvo

In [79]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

### Membership Operator

In [83]:
'D' not in 'delhi'

True

In [84]:
'D' not in 'Delhi'

False

### String Function

This are the common function use with all data type, like list, set, string, dictionary
* len
* max
* min
* sorted

In [2]:
len('Hello World')

11

In [5]:
# ascii value ke basis pe jo value badi hai usko extract karta hai.
max('Hello world')

'w'

In [6]:
min('hello world')

' '

In [9]:
# get all value in accending order according to ascii value
sorted('hello world')
# can do in reverse order 
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Capitalize/Title/Upper/Lower/Swapcase

In [10]:
s = 'hello world'
s.capitalize()

'Hello world'

In [11]:
s = 'hello world'
s.title()

'Hello World'

In [12]:
s = 'hello world'
s.upper()

'HELLO WORLD'

In [13]:
s = 'HELLO WORLD'
s.lower()

'hello world'

In [14]:
'HeLlo wOrlD'.swapcase()

'hElLO WoRLd'

Count/Find/Index

In [15]:
'my name is vishal'.count('i')

2

In [18]:
'my name is vishal'.find('is')
# 'my name is vishal'.find('x') -1 not available

8

In [21]:
'my name is vishal'.index('is')
# 'my name is vishal'.index('x') yaha pe 1 nahi error through karata hai ValueError: substring not found

8

endswith/startwith

In [22]:
'my name is vishal'.endswith('hal')

True

In [25]:
'my name is vishal'.startswith('my')

True

In [1]:
'my name is vishal'.startswith('my')

True

### Format

In [6]:
name = 'vishal'
gender = 'Male'

'Hi my name is {1} and I am a {0}'.format(name,gender)

'Hi my name is Male and I am a vishal'

### isalnum/ isalpha/ isdigit/ isidentifier

In [8]:
'vishal1234'.isalnum()  # it check our string is alphanumaric of not
'vishal123%4'.isalnum()

False

In [10]:
# 'vishal1234'.isalpha() # it check all are the alpha 
'vishal'.isalpha()

True

In [11]:
'123'.isdigit()

True

In [14]:
'1ll'.isidentifier()  # it check the identifier or variable is well.

False

### Split/Join

In [16]:
'hi my name is vishal'.split()  # word by word ko split karke list me deta hai

['hi', 'my', 'name', 'is', 'vishal']

In [19]:
'hi my name is vishal'.split('i') # split with i

['h', ' my name ', 's v', 'shal']

In [20]:
'hi my name is vishal'.split('is')

['hi my name ', ' v', 'hal']

#### join

In [23]:
# is just opposite to split
' '.join(['hi', 'my', 'name', 'is', 'vishal'])

'hi my name is vishal'

### Replace (replace the perticular substring

In [24]:
'hi my name is vishal'.replace('vishal','vmwaghmare') # orginal string me replace nahi kar rahe hai, naya string form ho raha hai

'hi my name is vmwaghmare'

### Strip

In [27]:
'vishal                   '.strip()  # sare spaces hata deta hai, only end wala

'vishal'

## Programs on String

In [38]:
# find the length of a given string without using the len() functioon

s = input('Enter the string : ')

counter = 0

for i in s:
    counter +=1

print(f'length of string is : {counter}')

Enter the string : Hi i am vishal
length of string is : 14

In [44]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

e = input('Enter your email : ')

# l=e.split('@')
# print(f'your user name is :{l[0]}')

pos = e.index('@')
print(e[:pos])

Enter your email : vishal@gmail.com
vishal

In [50]:
# Count the frequency of a particular character in a provided string.
# Eg. 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('Enter the string : ')
term = input('What do you like to search : ')

# print(f'{s}.In this sentence the term {term} come for {s.count(term)} times')

counter = 0

for i in s:
    if i == term:
        counter +=1
print('frequency',counter)

Enter the string : vishal
What do you like to search : h
frequency 1

In [51]:
# Write a program which can remove a particular character from a string.
s = input('Enter the string : ')
term = input('What do you like to remove : ')

r = ''

for i in s:
    if i != term:
        r = r+i

print(r)

Enter the string : vishal
What do you like to remove : i
vshal

In [55]:
# write a program that can check whether a given string is palindrome or not.

s = input('enter the string : ')
flag = True
for i in range(0,len(s)//2):
    if s[i] !=s[len(s)-i-1]:
        flag = False
        print('Not a Palindrome')
        break
if flag:
    print('Polindrome')

enter the string : go
Not a Palindrome

In [56]:
# write the program to count the number of words in a string without split()
"hi how are you".split()

['hi', 'how', 'are', 'you']

In [65]:
s = input('enter the string : ')
temp = ''
l = []

for i in s:
    if i != ' ':
        temp =temp + i    
        
    else:
        l.append(temp)
        temp = ''
l.append(temp)        
print(l)

enter the string : Hello i am vishal
['Hello', 'i', 'am', 'vishal']

In [79]:
# Write a python program to convert a sring to title case without using the title()
# Write a python program to convert a sring to title case without using the title()

s = input('enter the string : ')

l = []

for i in s.split():
    l.append(i[0].upper()+i[1:].lower())
    
print(' '.join(l))

enter the string : hi how are you
Hi How Are You

In [82]:
# write a program that can convert a n integer to string.

n = int(input('enter the number : '))

digits = '0123456789'
result = ''
while n != 0:
    result = digits[n % 10] + result
    n = n//10
    
print(result)
print(type(result))

enter the number : 345
345
<class 'str'>